@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.colaborador {
  width: 280px; 
}

.colaborador .cabecalho {
  border-radius: 10px 10px 0px 0px;
}

.colaborador img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .colaborador__rodape {
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 60px;
}

.colaborador .colaborador__rodape h4 {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #6278F7;
}

.colaborador .colaborador__rodape h5 {
  margin: 0;
  padding: 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #212121;
}
