@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.organizacao h1 {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px 4%;
  font-family: 'Prata', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 2.5;
  color: #6278F7;
  list-style: none;
  pointer-events: none;
  margin-bottom: 60px;
}

/* Linha abaixo do texto */
.organizacao h1::after {
  content: '';
  position: absolute;
  bottom: 0; /* bottom: 0; para linha embaixo */
  width: 4%; /* Largura da linha (vertical) */
  height: 4px;
  background-color: #6278F7;
}

.organizacao__titulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 4%;
}

.organizacao__titulo img {
  position: absolute;
  bottom: 50%;
  right: 0;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

.organizacao__titulo img:hover {
  transform: scale(1.1);
}

.organizacao__titulo img:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}
